ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.footer-ul {
    position: absolute;
    bottom:20px;
    left: 0;
    width: 100%;
    text-align: center;

    > li {
        display: inline-block;

        > a {
            padding: 10px 4px;
            color: #222;
            text-decoration: underline;
        }
    }
}